<% options.forEach(option => { %>
    <% if (option === '') { %>
        <input type="radio" id="<%= option %>" name="<%= name %>" value="<%= option %>" hidden checked>
    <% } else { %>
    <div>
        <% if (option === selectedValue) { %>
            <input type="radio" id="<%= option %>" name="<%= name %>" value="<%= option %>" checked>
        <% } else { %>
            <input type="radio" id="<%= option %>" name="<%= name %>" value="<%= option %>">
        <% } %>
        <label for="<%= option %>"><%= option %></label>
    </div>
    <% } %>


<% }); %>