<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>


<body>
<%- include('topNav', { currentPage: 'myproducts' }) %>
<div class="max-w-3xl mx-auto relative mt-12" v>
    <h1 class="text-5xl ml-6 mb-3">Your Products</h1>
</div>

<div class="max-w-3xl mx-auto relative mt-12 mb-10">
    <h2 class="text-5xl ml-6 ">Add New Product</h2>
    <form action="/myproducts" method="POST"  enctype="multipart/form-data"
          class="w-full grid grid-cols-2 gap-x-6 shadow-xl bg-white px-3 pt-3 rounded-xl border-grey-50 border">
        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'productName', content: 'Product Name'}) %>
            <%- include('./components/textInput', { name: 'productName' }) %>
        </div>
        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'article', content: 'Article'}) %>
            <%- include('./components/selectInput', { name: 'article', options: ['', 'pants', 'top-wear', 'dress', 'dress', 'skirt', 'one-piece', 'jewellery', 'shoes'] }) %>
        </div>

        <div class="col-span-2 flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'description', content: 'Description'}) %>
            <%- include('./components/textInput', { name: 'description' }) %>
        </div>

        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'craft', content: 'Craft'}) %>
            <div class="grid grid-cols-3">
                <%- include('./components/radioInput', { name: 'craft', options: ['sewing', 'knitting', 'crocheting', 'embroidery', 'tailoring', 'other']}) %>
            </div>
        </div>

        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'season', content: 'Season'}) %>
            <div class="grid grid-cols-2">
                <%- include('./components/radioInput', { name: 'season', options: ['winter', 'summer', 'autumn', 'spring']}) %>
            </div>
        </div>


        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'color', content: 'Color'}) %>
            <%- include('./components/selectInput', { name: 'color', options: ['', 'red', 'blue', 'green', 'yellow', 'orange', 'purple', 'pink', 'black', 'white', 'other'] }) %>
        </div>

        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'material', content: 'Material'}) %>
            <%- include('./components/selectInput', { name: 'material', options: ['', 'cotton', 'polyester', 'silk', 'wool', 'skirt', 'denim', 'rayon', 'linen', 'nylon', 'spandex', 'leather', 'other'] }) %>
        </div>

        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'sizing', content: 'Sizing'}) %>
            <%- include('./components/textInput', { name: 'sizing'}) %>
        </div>

        <div class="flex flex-col">
            <%- include('./components/inputLabel', { labelFor: 'price', content: 'Price'}) %>
            <div class="border-emerald-200 border-4 rounded-full py-1 px-3 mb-4">
                <input type="number" id="priceBeforeDec" name="priceBeforeDec" min="0" class="w-14 border border-black">
                .
                <input type="number" id="priceAfterDec" name="priceAfterDec" min="0" class="w-14 border border-black">
                €
            </div>
        </div>

        <div class="flex flex-col col-span-2 mx-auto">
            <%- include('./components/inputLabel', { labelFor: 'picture', content: 'Picture'}) %>
            <input type="file" id="picture" name="picture" required>
        </div>

        <button type="submit" class="object-center col-span-2 mx-auto bg-teal-700 text-white font-semibold rounded-full w-fit py-1 px-5 my-3">Add
            Product
        </button>
    </form>
</div>


</body>
</html>