<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/htmlHead') %>
</head>

<body class="flex flex-col justify-between min-h-screen">

<!--if comments for components not specifically added here, then look at comments in the component files itself-->

<div class="mb-12">
    <%- include('components/header', { currentPage: "" }) %>

    <main class="relative max-w-3xl mx-auto relative mt-12">
        <%- include('components/goBackButton') %>

        <%- include('components/h1Heading', {heading: 'Edit your product'} ) %>
        <form action="/profile/<%= userID %>/myproducts/<%= product.id %>" method="POST" enctype="multipart/form-data"
              class="w-full grid grid-cols-2 gap-x-6 shadow-xl bg-white px-3 pt-3 rounded-xl border-grey-50 border">
<!--            all retrieved information from the product is immediately displayed as the value in a text field, a checked checkbox or selected select input-->
            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'productName', content: 'Product Name'}) %>
                <input type="text" id="productName" name="productName" required
                       class="w- border-emerald-200 border-4 rounded-full py-1 px-3 mb-2"
                       value="<%= product.productName %>">
            </div>
            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'article', content: 'Article (optional)'}) %>
                <%- include('./components/selectInput', { name: 'article', options: ['', 'pants', 'top-wear', 'dress', 'skirt', 'one-piece', 'jewellery', 'shoes', 'other'], selectedValue: product.article }) %>
            </div>
            <fieldset class="col-span-2 flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'description', content: 'Description (optional)'}) %>
                <input type="text" id="description" name="description"
                       class="w- border-emerald-200 border-4 rounded-full py-1 px-3 mb-2"
                       value="<%= product.description %>">
            </fieldset>

            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'craft', content: 'Craft (optional)'}) %>
                <div class="grid grid-cols-3 mb-2 ml-3">
                    <%- include('./components/radioInput', { name: 'craft', options: ['sewing', 'knitting', 'crocheting', 'embroidery', 'tailoring', 'other'], selectedValue: product.productCraft }) %>
                </div>
            </div>

            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'season', content: 'Season (optional)'}) %>
                <div class="grid grid-cols-3 mb-2 ml-3">
                    <%- include('./components/radioInput', { name: 'season', options: ['winter', 'summer', 'autumn', 'spring'], selectedValue: product.season }) %>
                </div>
            </div>

            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'color', content: 'Color (optional)'}) %>
                <%- include('./components/selectInput', { name: 'color', options: ['', 'red', 'blue', 'green', 'yellow', 'orange', 'purple', 'pink', 'beige', 'black', 'white', 'gray', 'other'], selectedValue: product.color }) %>
            </div>

            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'material', content: 'Material (optional)'}) %>
                <%- include('./components/selectInput', { name: 'material', options: ['', 'cotton', 'polyester', 'silk', 'wool', 'skirt', 'denim', 'rayon', 'linen', 'nylon', 'spandex', 'leather', 'other'], selectedValue: product.material }) %>
            </div>


            <div class="flex flex-col">
                <%- include('./components/inputLabel', { labelFor: 'sizing', content: 'Sizing (optional)'}) %>
                <input type="text" id="sizing" name="sizing"
                       class="w- border-emerald-200 border-4 rounded-full py-1 px-3 mb-2" value="<%= product.sizing %>">
            </div>

            <fieldset class="flex flex-col">
                <legend><%- include('./components/inputLabel', { labelFor: 'price', content: 'Price (optional)'}) %></legend>
                <div class="border-emerald-200 border-4 rounded-full py-1 px-3 mb-4">
                    <label for="priceBeforeDec" class="italic font-semibold ml-3" hidden></label>
                    <input type="number" id="priceBeforeDec" name="priceBeforeDec" min="0"
                           class="w-14 border border-black"
                           value="<%= product.digitsBeforeDecimal %>">
                    .
                    <label for="priceAfterDec" class="italic font-semibold ml-3" hidden></label>
                    <input type="number" id="priceAfterDec" name="priceAfterDec" min="0"
                           class="w-14 border border-black"
                           value="<%= product.digitsAfterDecimal %>">
                    €
                </div>
            </fieldset>

            <div class="flex flex-col col-span-2 mx-auto">
                <%- include('./components/inputLabel', { labelFor: 'picture', content: 'Picture'}) %>
                <input type="file" id="picture" name="picture">
            </div>


            <button type="submit" value="save changes"
                    class="object-center col-span-2 mx-auto bg-teal-700 hover:bg-teal-900 hover:scale-110 transition-transform duration-200 text-white font-semibold rounded-full w-fit py-1 px-5 my-3">
                Save Changes
            </button>
        </form>
    </main>
</div>
<%- include('components/footer') %>
</body>
</html>
