<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>

<script>
    function goBack() {
        history.back();
    }
</script>
<body>
<%- include('topNav', { currentPage: "" }) %>
<div class="max-w-3xl mx-auto relative mt-12">
        <h1 class="text-5xl ml-6">Your Profile</h1>
    <div class="grid grid-cols-2 gap-x-12 bg-white px-8 py-4 rounded-xl shadow-xl">
        <div class="grid-span-2 grid-start-1 mb-2">
            <div>User ID</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.id %></div>
        </div>
        <div class="grid-span-2 grid-start-1 mb-6">
            <div>Username</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.username %></div>
        </div>
        <div class="grid-span-2 grid-start-1 mb-6">
            <div>Name</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.name %></div>
        </div>
        <div class="grid-span-2 grid-start-1 mb-6">
            <div>Surname</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.surname %></div>
        </div>
        <div class="grid-span-2 grid-start-1 mb-12">
            <div>E-Mail</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.email %></div>
        </div>
        <div></div>
        <div class="grid-span-2 grid-start-1 mb-6">
            <div>Preferred Craft</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.craft %></div>
        </div>
        <div class="grid-span-2 grid-start-1 mb-2">
            <div>You want to primarily be</div>
            <div class="text-xl font-semibold border-b-2 border-gray-200"><%= user.incentive %> clothes</div>
        </div>
        <div>
            <button class="bg-teal-700 text-white font-semibold rounded-full py-2 px-8 mt-5 w-32 mr-4">Edit</button>
            <button class="bg-red-900 text-white rounded-full py-2 px-5 mb-3 font-semibold w-32">Delete</button>
        </div>
    </div>
</div>


</body>
</html>