<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/htmlHead') %>
    <script>
        async function toggleBookmark(productId) {
            const url = `/marketplace/${productId}/bookmark`;
            const xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Reload the page to update the bookmark icon
                    location.reload();
                }
            };
            await xhr.send();
        }
    </script>
</head>

<body class="flex flex-col justify-between min-h-screen">
<div class="mb-12">
    <%- include('components/header', { currentPage: 'mybookmarks' }) %>
    <main class="max-w-3xl mx-auto relative mt-12">
        <%- include('components/h1Heading', {heading: 'My Bookmarks'} ) %>
        <div class="grid grid-cols-4 gap-3">
            <%- include('components/productListing') %>
        </div>
    </main>
</div>
<%- include('components/footer') %>

</body>
</html>